a.active{
    color: rgb(154, 10, 244);
    border-bottom: 2px solid rgb(154, 10, 244);
    border-radius: 0.2rem;
    padding: 0 2px;
}

.custom-bg{
    background-image: url('/src/assets/color-bg.png');
}